body {
    background-image: url('../images/backimg.jpg');
    background-size: cover;
}
.col-sm-4 {
    border: 3px solid;
    background-color: lightgray;
    padding-top: 100px;
    padding-bottom:100px;
    padding-left: 600px;
    padding-right: 600px;
}
h2{
    color:navy;
    text-align:center;
}