<img src="~/images/p-logo.png" />
<h1> One Stop Destination For All Job Seekers and Compines</h1>

<p>

    Our SearchJob Portal make the recruitment process,
    simple and speedy.

</p>
<p>
    Our SearchJob portal have a huge database of active job seekers,
    and often provide free resume or CV submission services,
    which encourages job seekers to resist with them. As an employer,
    you can filter with the help of data base and select to those CV’s that meets the job profile criteria.
    You just need to enter the candidates you are looking for,
    and get a lot of resumes that match your needs in a snap.
    You can easily and quickly screen out job seekers with specific qualification and experience,
    contact them, interview them and if fount suitable, close the vacancy with the right candidate.
</p>
<p>
    We believe that the Our SearchJob portal play a major part in finding the right job for the job seekers in
    today’s world. The online job search portals are one of the cheapest sources of communication for
    the job seekers and the applicants. Both, the recruiter and the job seekers can register at the portal
    free of cost as well as specify their requirements. In addition,  they get an alert from the job portal
    whenever a candidate comes up or a suitable job. Employers who are looking for the right
    candidate for their company can find at job portal. They don’t have to take an interview of many job seekers
    to find one from the best and employers can send application using job portal so the procedure
    of appointment becomes faster.
</p>
