@model BussinessEntites.JobApplicantEntites
@{
    ViewBag.Title = "ApllicantDashBoard";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h2>ApllicantDashBoard</h2>
@using (Html.BeginForm("Appliedjobs", "Home", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
{
    <a href="Appliedjobs">
        <div class="col-sm-4" style="background-color:yellow">
            <h2><label>Total No Of Registred Users</label></h2>
            @Html.DisplayFor(x => x.jobsApplied)
        </div>
    </a>
}

