
@model BussinessEntites.LoginEntites
@{
    <link href="~/Content/Applicant.css" rel="stylesheet" />


}



<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<body background="http://orig11.deviantart.net/20eb/f/2015/030/6/f/_minflat__dark_material_design_wallpaper__4k__by_dakoder-d8fjqzu.jpg">
    <link href="~/Content/login.css" rel="stylesheet" />


    <div class="login-page">
        <div class="form">


            <form class="login-form" method="post">

                <input placeholder="Email" @Html.TextBoxFor(c => c.Email, new { @class = "form-control", required = "required" })


                <input placeholder="Password" @Html.PasswordFor(c => c.Password, new { @class = "form-control", required = "required" })


                <input type="submit" value="LOGIN" style="align-content:center">

                <p class="message">Not registered?For Applicant<a href="https://localhost:44346/Home/openacc">Create an Applicant account</a></p>
                <p class="message">Not registered? For Company <a href="https://localhost:44346/Home/company">Create an Company account</a></p>
            </form>
            <h4 style="color:white">@ViewData["err"]</h4>
        </div>
    </div>
</body>
