@{ ViewBag.Title = "Viewresume";
    @Model.resume; }

<h2>Viewresume</h2>
<link href="~/Content/Site.css" rel="stylesheet" />
<div align="center">
    <iframe src="~/resume/@Model.resume" width="800" height="600"></iframe>
</div>
@Html.ActionLink("Back", "Back")